.ot-whiteboard {
  position: relative;
  width: 560px;
}
.ot-whiteboard canvas {
  display: block;
  /*width: 100%;*/
  /*height: 100%;*/
  /*position: absolute;*/
  top: 0;
  left: 0;
  border: 1px solid red;
}

.ot-whiteboard div.OT_panel {
  background-color: #424242;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  position: absolute;
  top:0px;
  bottom: 0px;
  margin: auto;
  right: 0;
}

.ot-whiteboard div.OT_panel input,
.ot-whiteboard div.OT_panel .OT_capture {
  display: block;
  -webkit-appearance: none;
  border: none;
  outline: none;
  margin-top: 2px;
  font-size: 9px;
  font-family: sans-serif;
  cursor: pointer;
}

.ot-whiteboard div.OT_panel input.OT_clear,
.ot-whiteboard div.OT_panel .OT_capture {
  text-decoration: none;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  background-color: #7d7d7d;
  border-radius: 5px;
  text-align: center;
  margin-top: 10px;
  padding: 0;
}

.ot-whiteboard div.OT_panel input.OT_erase {
  width: 40px;
  height: 40px;
  color: #fff;
  background-color: #7d7d7d;
  border-radius: 50%;
  text-align: center;
  padding: 0;
}

.ot-whiteboard div.OT_panel input.OT_color {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.ot-whiteboard div.OT_panel input.OT_selected {
  border: 4px solid #eaeaea;
}
